h1 {
  font-family: 'Gochi Hand', cursive;
}

.container {
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 70rem;
  margin: 0 auto;
}

#app {
  height: 100%;
}
